:root {
    --color-text: #000000;
    --color-background: #cccccc;
    --color-background-secondary: #dddddd;
    --color-shadow: #00000050;
    --color-disabled: #00000025;
    --color-green: #00AA00;
    --color-red: #DD0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: #FFFFFF;
        --color-background: #555555;
        --color-background-secondary: #333333;
        --color-shadow: #FFFFFF50;
        --color-disabled: #FFFFFF25;
        --color-green: #00CC00;
        --color-red: #FF0000;
    }
}


html {
    background-color: var(--color-background);
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--color-text);
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    overflow: hidden;
}

.container {
    width: 85vw;
    max-width: 500px;
    max-height: 1000px;
    margin: auto;
    padding: 15px;
    background-color: var(--color-background-secondary);
    border-radius: 10px;
}

.scrollable-box {
    width: 75%;
    max-width: 200px;
    max-height: 25vh;

    margin: 20px auto;
    padding: 15px;
    background-color: transparent;
    cursor: default;

    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-box::-webkit-scrollbar {
    display: none;
}

.anagram-item {
    font-family: Consolas, "Lucida Console", monospace;
    padding: 5px;
}

.anagram-line {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.anagram-line#totals {
    width: 100%;
}

.anagram-line-break {
    border: 1px solid var(--color-text);
    width: 50%;
    margin: 20px auto;
}


h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

p {
    margin: 20px auto;
    font-weight: bold;
}

.time,
.words,
.score {
    font-size: 18px;
    margin: auto;
    font-family: Consolas, "Lucida Console", monospace;
    flex: 1;
}

.count-line {
    display: flex;
    justify-content: center;
    margin: 0 auto 5px auto;
}

.slots {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.slot {
    width: 40px;
    height: 40px;
    background-color: transparent;
    box-shadow: inset 0 0 15px var(--color-disabled);
    border-radius: 5px;
    border: 1px solid var(--color-disabled);
}

.slot.filled {
    width: 40px;
    height: 40px;
    border: 1px solid #00000050;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #f2d28b;
    box-shadow: 0px 3px 3px var(--color-shadow);
    border-radius: 5px;
}

.static {
    pointer-events: none;
}

.letters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.letter {
    width: 40px;
    height: 40px;
    border: 1px solid #00000050;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #f2d28b;
    box-shadow: 0px 3px 3px var(--color-shadow);
    border-radius: 5px;
}

.letter.static {
    box-shadow: none;
}

.letter.hidden {
    color: transparent;
    background-color: transparent;
    border: dashed 1px var(--color-shadow);
    pointer-events: none;
    box-shadow: none;
}

button {
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #33CC00;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 3px var(--color-shadow);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:disabled {
    pointer-events: none;
    box-shadow: none;
    background-color: var(--color-disabled);
    color: #000000;
}

.message {
    height: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 15px auto;
}

.message.show {
    opacity: 1;
}